h5.oswald{
    font-family: 'Times New Roman', Times, serif;
    font: size 20px; ;
    color:pink;

}
h5.alving{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color:yellow;

}
h5.regina{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: green;

}
h5.mander{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color:blue;

}
.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}

p.hover{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
    background-color: orchid;
}
.table{
    color:black;
    border:3px;
    text-align: center;
    padding: 10px;
    margin: 5px;

}

tr:nth-child(odd){
    background-color:yellow;
}
tr:nth-child(even){
    background-color:lightseagreen;
}