.oswald{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color:pink;

}
.alving{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color:yellow;

}
.regina{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: green;

}
.mander{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color:blue;

}
.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}

.hover{
    color: black;
    background-color: lightblue;
}
